[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=StampTool
X-Python-2-Compatible=false
Name=Stamp Tool
Comment=A stamp tool plugin for Krita